.body{
    background-color:lightgrey
}
.navbar {
    background-color: #863e3e;
    padding: 1rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #8B0000 !important;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #555 !important;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #8B0000 !important;
}

.navbar-toggler {
    border: none;
    background: none;
}

.navbar-toggler-icon {
    background-color: #8B0000;
}

.d-flex {
    display: flex;
    justify-content: flex-end;
}

.form-control {
    width: 250px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

.btn-outline-success {
    border-radius: 50px;
    border: 1px solid #28a745;
    color: darkred;
}

.btn-outline-success:hover {
    background-color: darkred;
    color: #fff;
}

h1 {
    font-size: 3.0rem;
    color: #8B0000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4 {
    font-family: 2.0rem;
    color: #8B0000;
    font-family:Georgia, 'Times New Roman', Times, serif
}


/* Parágrafo */
p {
    font-size: 1.1rem;
    color: #6c757d;
    line-height: 1.6;
    margin-top: 20px;
    padding: 0 20px;
    color: #6c757d;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
    
    .form-control {
        width: 200px;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1rem;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 18rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card-body {
    text-align: center;
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    color: #555;
}